
body {
  background-image: url("img/map-image.jpg");
  background: #fff;
  font-family: sans-serif;
}
 
h2 {
  color: #000000;
}

.tambah{
  padding: 1em;
  margin: 2em auto;
  width: 23em;
  height: 39em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 100px 4px #d6d6d6;
}

.tambah2{
  padding: 1em;
  margin: 4em auto;
  width: 20em;
  height: 33em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 100px 4px #d6d6d6;
}

.edit{
  padding: 1em;
  margin: 3em auto;
  width: 22em;
  height: 36em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 100px 4px #d6d6d6;
}
 
 .edit2{
  padding: 1em;
  margin: 5em auto;
  width: 20em;
  height: 30em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 100px 4px #d6d6d6;
}
 
.login {
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 100px 4px #d6d6d6;
}
 
label {
  font-size: 15pt;
  color: #555;
}
 
input[type="text"],
input[type="password"],
textarea {
  padding: 8px;
  width: 95%;
  background: #f1f1f1;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}
 
.tombol {
  background: #FFD700;
  color: #00000;
  border: 0;
  padding: 8px 12px;
  margin: 20px 0px;
}
    .dropdown-toggle,
    .dropdown-menu {
        border: none;
    }
    .dropdown:hover>.dropdown-menu {
      display: inline-block;
      background-color: #212529;
    }
    .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
   .left    { text-align: left;}
   .right   { text-align: right;}
   .center  { text-align: center;}
   .justify { text-align: justify;}
   
.text_content{
    text-indent: 60px;
}
